extends layout

    .centro-jpeg
        h1 #{title}
            .centro-jpeg-2
                h2 #{subtitle}
                 <input type = "file" accept = "image/*" onchange = "handleUploadedFile(event)">