extends layout

    .centro-png
        h1 #{title}
            .centro-png-2
                h2 #{subtitle}
                <input type = "file" accept = "image/*" onchange = "handleUploadedFile(event)">
