extends layout

    .centro-svg
        h1 #{title}
            .centro-svg-2
                h2 #{subtitle}
                <input type = "file" accept = "image/*" onchange = "handleUploadedFile(event)">