extends layout

    .centro-jpg
        h1 #{title}
            .centro-webp-2
                h2 #{subtitle}
                <input type = "file" accept = "image/*" onchange = "handleUploadedFile(event)">